/*Every other image inside a stack div*/
.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

div.centered img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div.stack img {
    transition: .15s;
    position: absolute;
    height: 100px;
    width: 100px;
}

    div.stack img:nth-child(odd) {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    div.stack img:nth-child(even) {
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    div.stack img:nth-child(3n) {
        right: 80px;
    }

    div.stack img:nth-child(3n+2) {
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        transform: rotate(20deg);
        top: 90px;
    }

    div.stack img:nth-child(5n) {
        top: -110px;
    }

    div.stack img:nth-child(5n) {
        top: -70px;
        right: 100px;
    }

    div.stack img:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        transform: scale(1.15);
        z-index: 10;
    }
